@font-face {
  font-family: 'Exo';
  src: local('Exo2.0'), local('Exo 2.0'), local('Exo 20'),local('Exo20'), url('assets/media/fonts/Exo20-Thin.woff2') format('woff2'), url('assets/media/fonts/Exo20-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TrebuchetMS';
  src: local('Trebuchet MS'), local('Trebuchet-MS'), local('TrebuchetMS'), url('assets/media/fonts/TrebuchetMS.woff2') format('woff2'), url('assets/media/fonts/TrebuchetMS.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}