@import '_deps';
body {
  font-family: 'TrebuchetMS', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('assets/media/images/shared/bg_pattern.png');
}

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.page_title {
  color: #fff;
  font-family: 'Exo', Arial, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 37px 0 23px 0;
}

.scene {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -40px;
}
.col-3 {
  margin: 0 40px 40px;
  width: 320px;
  flex-basis: 320px;
  max-width: 100%;
}
// responsive
@media all and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

// hacks
@media all and (-ms-high-contrast:none) {
  .scene {
    height: 100vh;
  }
}