<!DOCTYPE html>
html(lang="ru")
  include includes/head.pug
  body
    
    main.container.scene
      h1.page_title Ты сегодня покормил кота?
      include components/product-grid/product-grid
    script(src="main.js")