-
  var items = [
    {
      status: 'primary', 
      category: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с фуа-гра', 
      desc: '<b>10</b> порций <br>мышь в подарок',
      weight: '0,5', 
      message: 'Печень утки разварная с артишоками.',
    },
    {
      status: 'choosed', 
      category: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с рыбой', 
      desc: '<b>40</b> порций <br><b>2</b> мыши в подарок',
      weight: '2', 
      message: 'Головы щучьи с чесноком да свежайшая сёмгушка.',
    },
    {
      status: 'out', 
      category: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с курой', 
      desc: '<b>100</b> порций<br><b>5</b> мышей в подарок<br>заказчик доволен',
      weight: '5', 
      message: 'Филе из цыплят с трюфелями в бульоне.',
    }
  ]
include ../product/product
section.flex
  each item in items
    .col-3
      +product_item(item)