mixin product_item(data)
  figure.product(class='product--'+data.status)
    .product_body
      .product_category
        span.product_category--show= data.category
        span.product_category--hover= 'Котэ не одобряет?'
      figcaption.product_caption
        h2.product_title= data.title
        h3.product_subtitle= data.subtitle
        p.product_desc!= data.desc
      .product_image
        img(src="assets/media/images/content/cat.png" width="298px" height="269px" alt=data.title + ' ' + data.subtitle title=data.title + ' ' + data.subtitle)
      .product_weight(class='product_weight--'+data.status) 
        span!= data.weight
        small кг
  .product_message(class='product_message--'+data.status,)
    span.product_message--default Чего сидишь? Порадуй котэ, <a class="js_select" href="#">купи.</a>
    span.product_message--selected!= data.message
    span.product_message--disabled!= 'Печалька, '+data.subtitle+' закончился.'



